header {
  height: 71px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

header h3 {
  font-size: 24px; }

.header-logo {
  font-size: 48px;
  margin-left: 9px;
  margin-bottom: 5px;
  color: #00BCFF; }

.banner-wrap {
  z-index: -1;
  background-color: #1D3965;
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .banner-wrap {
      background-color: transparent; } }
  @media (min-width: 550px) {
    .banner-wrap {
      background-size: cover; } }

.banner img {
  display: none;
  height: 70vh;
  z-index: -2; }
  @media (min-width: 768px) {
    .banner img {
      display: block;
      position: absolute;
      width: 100%; } }

.banner-text {
  color: white; }
  @media (min-width: 768px) {
    .banner-text {
      font-size: 36px; } }
  @media (min-width: 992px) {
    .banner-text {
      font-size: 48px; } }

.typeit {
  margin-top: 10px;
  color: white; }
  @media (min-width: 768px) {
    .typeit {
      font-size: 36px; } }
  @media (min-width: 992px) {
    .typeit {
      font-size: 48px; } }

.btn {
  position: relative;
  top: 15%;
  margin-top: 20px;
  border: 1px solid #00BCFF;
  padding: 10px 20px;
  border-radius: 30px; }

.btn a {
  text-decoration: none;
  color: white; }
  .btn a:hover {
    color: #00BCFF; }

.content-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.content-border {
  margin-top: 30px;
  width: 266px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.content-banner p {
  position: relative;
  font-size: 24px;
  color: black;
  padding: 16px 0; }

.work-box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

@media (min-width: 550px) {
  .work-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center; } }

@media (min-width: 768px) {
  .work-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: space-around; } }

.work {
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid black;
  width: 233px;
  height: 231px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .work {
      margin: 0 2%;
      margin-top: 30px; } }
  @media (min-width: 992px) {
    .work {
      margin: 0 5%;
      margin-top: 30px; } }

.work img {
  position: relative;
  bottom: 5px; }

.work p {
  position: relative;
  top: 5px; }

.process-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .process-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center; } }

.process-card {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .process-card {
      margin: 0 2%; } }

#service {
  position: relative;
  top: 18px; }

#coding {
  position: relative;
  top: 39px; }

.border {
  height: 300px;
  width: 266px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.border h3 {
  margin-top: 35px; }

.resume {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.resume-border a {
  padding: 17px 30px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 10px; }
  .resume-border a:hover {
    color: #00BCFF;
    background-color: #1D3965; }

.resume-text {
  width: 278px;
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .resume-text {
      width: 500px; } }

.social {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.social img {
  width: 30px; }

.social-icon {
  margin-left: 40px; }

.footer-wrap p {
  text-align: center;
  margin: 40px 0; }

* {
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0; }

body {
  min-height: 100%; }

/*# sourceMappingURL=style.css.map */
