.header {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.header-wrap {
  height: 100vh;
  background-color: #223A56;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
  height: 100vh; }
  @media (min-width: 550px) {
    .header-wrap {
      background-color: transparent !important;
      position: relative;
      background-repeat: no-repeat; } }
  @media (min-width: 550px) {
    .header-wrap {
      background-size: cover; } }

#background {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center; }
  @media (max-width: 550px) {
    #background {
      display: none; } }
  @media (min-width: 992px) {
    #background {
      width: 100%; } }

.main-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center; }

.main-logo h1 {
  color: #00BCFF;
  font-size: 60px;
  position: relative;
  top: 25px;
  font-weight: bold; }
  @media (min-width: 992px) {
    .main-logo h1 {
      font-size: 80px; } }

/*

#logo {

    position: relative;
    top: 35px;
    @media(min-width: $break-m){
    display: none;
    }
}

#logo-l {
    display:none;
    @media(min-width: $break-m){
    display: inline-block;
    position: relative;
    top: 30px;
    }
}
*/
.header-wrap h2 {
  color: white;
  margin-top: 5px;
  position: relative;
  top: 25%; }
  @media (min-width: 550px) {
    .header-wrap h2 {
      font-size: 30px;
      top: 24%; } }
  @media (min-width: 768px) {
    .header-wrap h2 {
      font-size: 40px;
      top: 23%; } }
  @media (min-width: 992px) {
    .header-wrap h2 {
      font-size: 50px;
      top: 20%; } }
  @media (min-width: 1200px) {
    .header-wrap h2 {
      font-size: 60px; } }

.btn {
  position: relative;
  top: 54%;
  display: block; }
  @media (min-width: 550px) {
    .btn {
      top: 48%; } }
  @media (min-width: 768px) {
    .btn {
      top: 44%; } }
  @media (min-width: 992px) {
    .btn {
      top: 37%; } }
  @media (min-width: 1200px) {
    .btn {
      top: 33%; } }

.scroll {
  position: relative;
  margin-top: 20px;
  top: 56%; }
  @media (min-width: 550px) {
    .scroll {
      top: 52%; } }
  @media (min-width: 768px) {
    .scroll {
      top: 48%; } }
  @media (min-width: 992px) {
    .scroll {
      top: 41%; } }
  @media (min-width: 1200px) {
    .scroll {
      top: 37%; } }

.btn a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 14px;
  border: 2px solid #00BCFF;
  border-radius: 100px;
  padding: 7px 30px; }
  .btn a:hover {
    background-color: #00BCFF; }
  @media (min-width: 550px) {
    .btn a {
      padding: 15px 50px;
      font-size: 15px; }
      .btn a:hover {
        background-color: #223A56;
        border: 2px solid #223A56; } }

.scroll a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 14px;
  border: 2px solid #00BCFF;
  border-radius: 100px;
  padding: 7px 30px; }
  .scroll a:hover {
    background-color: #00BCFF; }
  @media (min-width: 550px) {
    .scroll a {
      padding: 15px 50px;
      font-size: 15px; }
      .scroll a:hover {
        background-color: #223A56;
        border: 2px solid #223A56; } }

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; }

.projects h2 {
  margin-top: 7%;
  font-family: "monteserrat", sans-serif;
  color: #223A56;
  font-weight: bold; }
  @media (max-width: 550px) {
    .projects h2 {
      margin-top: 15%; } }
  @media (min-width: 768px) {
    .projects h2 {
      font-size: 35px; } }
  @media (min-width: 992px) {
    .projects h2 {
      font-size: 40px; } }

.projects p {
  margin-top: 20px;
  text-align: center;
  font-family: "lato", sans-serif;
  color: #444444; }
  @media (min-width: 768px) {
    .projects p {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .projects p {
      font-size: 30px;
      height: 45px; } }

.project-wrap {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (max-width: 550px) {
    .project-wrap {
      max-width: 315px; } }

.project-wrap p {
  min-width: 155px;
  font-size: 14px;
  color: #7D7D7D; }
  @media (min-width: 550px) {
    .project-wrap p {
      max-width: 315px;
      height: 150px;
      margin-top: 20px; } }
  @media (min-width: 768px) {
    .project-wrap p {
      height: 100px; } }
  @media (min-width: 992px) {
    .project-wrap p {
      height: 75px;
      margin-bottom: 20px; } }

.project-grp-1 {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 550px) {
    .project-grp-1 {
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center;
      margin-top: 4%;
      margin-left: 2%;
      margin-right: 2%; } }

.project-grp-1 img {
  width: 100%; }

.project-grp-2 img {
  width: 100%;
  margin-top: 10%; }

@media (max-width: 550px) {
  #season {
    margin-top: 10%; } }

@media (max-width: 550px) {
  #workforla {
    margin-top: 10%; } }

.project-grp-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 550px) {
    .project-grp-2 {
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center;
      margin-left: 2%;
      margin-right: 2%; } }

@media (min-width: 550px) {
  .project-2-wrap {
    margin-left: 6%; } }

@media (min-width: 550px) {
  .project-3-wrap {
    margin-left: 6%; } }

@media (min-width: 550px) {
  .project-5-wrap {
    margin-left: 6%; } }

@media (min-width: 550px) {
  .project-6-wrap {
    margin-left: 6%; } }

.process-wrap {
  margin-top: 100px;
  height: auto;
  background-color: #E8F2FF;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.icon-content {
  margin-left: 4%;
  margin-right: 4%;
  padding: 0 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 550px) {
    .icon-content {
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center; } }

.my-process {
  padding-top: 35px; }

.process-wrap h2 {
  margin-top: 30px;
  color: #223A56; }
  @media (min-width: 550px) {
    .process-wrap h2 {
      font-size: 30px;
      font-weight: bold; } }
  @media (min-width: 768px) {
    .process-wrap h2 {
      font-size: 35px; } }

.p-text {
  color: #444444;
  margin-top: 20px; }
  @media (min-width: 550px) {
    .p-text {
      font-size: 20px; } }
  @media (min-width: 768px) {
    .p-text {
      font-size: 25px; } }

.icon-content p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: ligher;
  color: #7D7D7D;
  line-height: 25px; }

.icon {
  margin-top: 55px; }

.icon-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.icon-p {
  margin-top: 16px;
  width: 100%;
  max-width: 350px;
  font-size: 12px;
  color: #7D7D7D; }
  @media (min-width: 550px) {
    .icon-p {
      margin-bottom: 80px; } }

@media (min-width: 550px) {
  .ux-design {
    margin: 0 5%; } }

@media (max-width: 550px) {
  .coding p {
    margin-bottom: 60px; } }

* {
  font-family: 'Monteserrat', sans-serif !important;
  font-weight: bold;
  margin: 0;
  padding: 0; }

.hire {
  height: 400px;
  background-color: #00BCFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.hire h2 {
  font-family: 'Monteserrat', sans-serif !important;
  font-weight: bold;
  color: black;
  padding-top: 45px; }
  @media (min-width: 768px) {
    .hire h2 {
      font-size: 35px; } }

.hire p {
  font-family: 'Monteserrat', sans-serif !important;
  font-weight: bold;
  color: black;
  margin-top: 25px;
  width: 80%;
  max-width: 550px;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: lighter; }
  @media (min-width: 768px) {
    .hire p {
      font-size: 20px; } }

.btn-2 {
  font-family: 'Monteserrat', sans-serif !important;
  font-weight: bold;
  color: black;
  margin-top: 45px;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 55px; }

.btn-2 a {
  color: black;
  list-style-type: none;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px; }
  .btn-2 a:hover {
    color: white;
    background-color: #223A56;
    border-color: #223A56; }

* {
  margin: 0;
  padding: 0; }

footer {
  overflow: hidden;
  position: relative;
  bottom: 0; }

.footer-wrap {
  height: auto;
  background-color: #223A56;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.footer-wrap h1 {
  color: #00BCFF;
  margin-top: 80px; }

.social {
  margin-top: 40px; }

.social-icon {
  margin-left: 20px; }

.footer-wrap p {
  margin-top: 35px;
  margin-bottom: 85px;
  font-size: 11px;
  color: #D8D8D8; }

* {
  font-family: 'Monteserrat', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0; }

body {
  min-height: 100%; }

/*# sourceMappingURL=style.css.map */
