// Import Partials //

@import 'utilities/variables',
        'utilities/mixins',
        'utilities/functions';

@import 'content/header.scss',
        'content/work.scss',
        'content/process.scss',
        'content/social.scss';

// All

* {
    font-family: 'Circular Std', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}
