// Import Partials //

@import 'utilities/variables',
        'utilities/mixins',
        'utilities/functions';

@import 'content/header.scss',
        'content/social.scss';

// All

* {
    font-family: 'Circular Std', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

.windi-1 img {
  width: 100%;
}

.travel-task img {
  width: 80%;
  margin: 0 10%;
}

.travel-task p {
  text-align: center;
  margin-bottom: 5%;
  font-size: 24px;
}

.chat-task img {
  width: 80%;
  margin: 0 10%;
  margin-top: 8%;
}

.wireframes img {
  width: 25%;
  margin: 0 37.5%;
  margin-top: 8%;
}

.wireframes p {
  text-align: center;
  margin-top: 5%;
  font-size: 24px;
}

.mockups img {
  width: 90%;
  margin: 0 5%;
  margin-top: 5%;
}

.mockups p {
  text-align: center;
  margin-top: 5%;
  font-size: 24px;
}
