* {
      margin: 0;
      padding: 0;
  }

// footer //

footer{
    overflow: hidden;
    position: relative;
    bottom: 0;
}

.footer-wrap {
    height: auto;
    background-color: $color-background;
    @include flexy($wrap: no-wrap, $just: center, $align: center, $dir: column);
}

.footer-wrap h1 {
    color: $color-primary;
    margin-top: 80px;
}

.social {
    margin-top: 40px;
}

.social-icon {
    margin-left: 20px;
}

.footer-wrap p {
    margin-top: 35px;
    margin-bottom: 85px;
    font-size: 11px;
    color: #D8D8D8;
}
