//@media(min-width: $break-s){

// Header //

header {
  height: 71px;
  @include flexy($wrap: no-wrap, $just: center, $align: center, $dir: row);
}

header h3 {
  font-size: 24px;
}

.header-logo {
  font-size: 48px;
  margin-left: 9px;
  margin-bottom: 5px;
  color: $color-primary;
}

//Banner

.banner-wrap {
  z-index: -1;
  background-color: $color-background;
  height: 70vh;
    @include flexy($wrap: no-wrap, $just: center, $align: center, $dir: column);
    @media(min-width: $break-m){
    background-color: transparent;
    }
    @media(min-width: $break-s){
background-size: cover;
}
}

.banner img {
  display:none;
  height: 70vh;
  z-index: -2;
  @media(min-width: $break-m){
  display: block;
  position: absolute;
  width: 100%;
  }
}

//Banner Text

.banner-text {
  color:white;
  @media(min-width: $break-m){
  font-size: 36px;
  }
  @media(min-width: $break-lg){
  font-size: 48px;
  }
}

.typeit {
  margin-top: 10px;
  color: white;
  @media(min-width: $break-m){
  font-size: 36px;
  }
  @media(min-width: $break-lg){
  font-size: 48px;
  }
}

//Banner button

.btn {
  position: relative;
  top: 15%;
  margin-top: 20px;
  border: 1px solid $color-primary;
  padding: 10px 20px;
  border-radius: 30px;
  }

.btn a {
  text-decoration: none;
  color: white;
  &:hover {
    color: $color-primary;
  }
}
