// My Process //

// Wraps

.process-wrap {
    margin-top: 100px;
    height: auto;
    background-color: $color-background-light;
    overflow: auto;
    @include flexy($wrap: no-wrap, $just: center, $align: center, $dir: column);
}

.icon-content {
    margin-left: 4%;
    margin-right: 4%;
    padding: 0 2%;
    text-align: center;
    @include flexy($wrap: no-wrap, $just: center, $align: center, $dir: column);
    @media(min-width: $break-s){
    @include flexy($wrap: no-wrap, $just: center, $dir: row, $align: center);
    }
}

// Spacing

.my-process {
    padding-top: 35px;
}

.process-wrap h2 {
    margin-top: 30px;
    color: $color-background;
    @media(min-width: $break-s){
    font-size: 30px;
    font-weight: bold;
    };
    @media(min-width: $break-m){
    font-size: 35px;
    };
}

.p-text {
    color: $color-text-secondary;
    margin-top: 20px;
    @media(min-width: $break-s){
    font-size: 20px;
    };
    @media(min-width:  $break-m){
    font-size: 25px;
    };
}

.icon-content p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: ligher;
    color: $color-text;
    line-height: 25px;
}

.icon {
    margin-top: 55px;
}

.icon-text {
    width: 100%;
    @include flexy($just: center, $dir: column, $align: center);
}

.icon-p {
    margin-top: 16px;
    width: 100%;
    max-width: 350px;
    font-size: 12px;
    color: $color-text;
    @media(min-width: $break-s){
    margin-bottom: 80px;
    }
}

.ux-design {
    @media(min-width: $break-s){
        margin: 0 5%;
    }
}

.coding p {
    @media(max-width: $break-s){
    margin-bottom: 60px;
    }
}
