//My Process

.process-wrap {
  @include flexy($wrap: no-wrap, $just: center, $align: center, $dir: column);
    @media(min-width: $break-m){
@include flexy($wrap: no-wrap, $just: center, $align: center, $dir: row);
    }
}

.process-card {
  @include flexy($wrap: no-wrap, $just: center, $align: center, $dir: column);
      @media(min-width: $break-m){
      margin: 0 2%;
      }
}

#service {
  position: relative;
  top: 18px;
}

#coding {
  position: relative;
  top: 39px;
}

.border {
  height: 300px;
  width: 266px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 30px;
  @include flexy($wrap: no-wrap, $just: center, $align: center, $dir: column);
}

.border h3 {
  margin-top: 35px;
}

//Resume

.resume {
    margin-top: 40px;
    @include flexy($wrap: no-wrap, $just: center, $align: center, $dir: column);
}

.resume-border a {
  padding: 17px 30px;
  text-decoration: none;
  color:black;
  border: 1px solid black;
  border-radius: 10px;
  &:hover {
    color: $color-primary;
    background-color: $color-background;
  }
}

.resume-text {
      width: 278px;
      text-align: center;
      margin-top: 40px;
      @media(min-width: $break-m){
      width: 500px;
      }
      @include flexy($wrap: no-wrap, $just: center, $align: center, $dir: column);
}
