// Variables //

// Colors //

$color-primary: #00BCFF;
$color-background: #223A56;
$color-background-light: #E8F2FF;
$color-text: #7D7D7D;
$color-text-secondary: #444444;
$color-black: #000000;

// Breakpoints //

$break-xxs: 300px;
$break-xs: 549px;
$break-s: 550px;
$break-sm: 600px;
$break-m: 768px;
$break-lg: 992px;
$break-xlg: 1200px;

// Gutter //

$gutter: 10px;

// Max-Width //

$max-width: 1000px;

// Animation //

$primary-color: #00BCFF;
$animation-time: 7s;
