// Variables //

// Colors //

$color-primary: #00BCFF;
$color-background: #1D3965;
$color-secondary: #FFFFFF;
$color-text: #000000;

// Breakpoints //

$break-xxs: 300px;
$break-xs: 549px;
$break-s: 550px;
$break-sm: 600px;
$break-m: 768px;
$break-lg: 992px;
$break-xlg: 1200px;

// Gutter //

$gutter: 10px;
  
// Max-Width //

$max-width: 1000px;

// Animation //

$primary-color: #00BCFF;
$animation-time: 7s;
